# Ignore everything inside datasets folder...
datasets/*
!datasets/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

results/*
!results/.gitkeep

# ...but not this file
!datasets/vibe_full_features.csv

# Ignore all image formats globally
*.png
*.jpg
*.jpeg
*.tiff
*.pt
*.pth

# Ignore environment & IDE junk
.DS_Store
__pycache__/
*.pyc
.vscode/
.env
