# === Core Dependencies ===
torch>=1.13.0
torchvision>=0.14.0
torchaudio
timm
albumentations
numpy
pandas
scikit-learn
scikit-image
joblib
matplotlib
seaborn
tqdm

# === Web App UI ===
streamlit>=1.10
streamlit-folium
folium
Pillow

# === Geospatial ===
geopandas
shapely
rasterio
leafmap
osmnx
gdown
rio-cogeo
rio-tiler
rioxarray

# === Misc ===
requests
opencv-python-headless
pyproj
xarray
